{% extends "base.html" %}

{% block body_block %}

<!--div class="jumbotron">
  <div class="container text-center">
    <h4>We Are</h4>
  </div>
</div-->

<div>
  <h2 align="center">About Us</h2>
  <p align="center" class="lead">
    Meet the <mark>team</mark> - our office <mark>rats</mark>:
    <!--Hello and welcome to <mark>toolsbd</mark>, the place to find the best <mark>Hardware</mark> products.
    We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive
    the best quality product.<br><br>We believe in high quality and exceptional customer service. But most importantly,
    we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices,
    and ship them to you regardless of where you are located.<br><br>We always keep an eye on the latest trends and put
     our customers’ wishes first. That is why we have satisfied customers all over the country, and are thrilled to be
     a part of the industry.<br><br>The interests of our
    customers are always the top priority for us, so we hope you will enjoy our products as much as we enjoy making
    them available to you.-->
  </p>
</div>
<div class="w3-container w3-padding-64 w3-center"  id="aboutus">

  <div class="w3-row"><br>

  <div class="w3-third">
    <img src="https://fahimfarhan.github.io/css-js-expert-engine/img/abhi.jpg"
         alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Abhishekh</h3>
    <p>Legal & Financial Supervisor</p>
  </div>

  <div class="w3-third">
    <img src="https://fahimfarhan.github.io/css-js-expert-engine/img/meha.jpg"
         alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Meha Jerin Aziz</h3>
    <p>Accounting & Factory Supervisor</p>
  </div>

  <div class="w3-third">
    <img src="https://fahimfarhan.github.io/css-js-expert-engine/img/fahim.jpg" alt="Boss" style="width:45%"
         class="w3-circle w3-hover-opacity">
    <h3>Fahim Shikder</h3>
    <p>Logistics, Design & Production System supervisor</p>
  </div>


  </div>
  </div>
 <!-- Team Container -->
 <div class="w3-container w3-padding-64 w3-center">

  <div class="w3-row">

  <div class="w3-third">
    <img src="https://fahimfarhan.github.io/css-js-expert-engine/img/bidoura.jpg" alt="Boss" style="width:45%"
         class="w3-circle w3-hover-opacity">
    <h3>Shabnaj Bidoura</h3>
    <p>Marketing & Communication Supervisor</p>
  </div>

  <div class="w3-third w3-rignt">
    <img src="https://fahimfarhan.github.io/css-js-expert-engine/img/alma.jpg" alt="Boss" style="width:45%"
         class="w3-circle w3-hover-opacity">
    <h3>Alma Raidah</h3>
    <p>Marketing & Communication Supervisor</p>
  </div>

  </div>
  </div>
<!---->
  
<!-- <div class="container-fluid bg-3 text-center">    
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>
 -->
{% endblock %}

